extends layout

block content
    head 
        script(src='js/socket.io.js') 
        script(src='js/scripts.js')        

    body
        .container.h1 user
        .container        
            ul#pis