doctype html
html
    head
        title PI Control
        link(rel='stylesheet', href='css/bootstrap.min.css')  
        link(rel='stylesheet', href='css/styles.css')
    body
        .alert.alert-success#snackbar test
        .container
            div.media
                span.media-left 
                    img(src="img/logo.svg", alt="logo")
                div.media-body
                    h1.media-heading  #{title}
        block content
        br
        footer.container
    footer
        .container
            .content
                p.text-muted.text-center Copyright &copy; 2020 DataCenter       